ANTHROPIC_API_KEY=

# Get the access to Gong
GONG_ACCESS_KEY=
GONG_ACCESS_KEY_SECRET=
GONG_BASE_URL=

# Confluence API -> this is get from one's atlassian account
CONFLUENCE_BASE_URL=https://varicon.atlassian.net/wiki
CONFLUENCE_EMAIL= 
CONFLUENCE_API_TOKEN=
CONFLUENCE_SPACE_KEY=ONB

CONFLUENCE_ONBOARDING_PARENT_PAGE_ID=944373761
CONFLUENCE_SNAPSHOTS_PARENT_PAGE_ID=953286658
